.budget-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
}

.budget-container::-webkit-scrollbar {
  display: none;
}

.budget-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chart-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height : 40vh;
  width : 40vw;
}
