.category-list-container{
    display: flex;
    flex-direction: column;
    width : 34vw;
    min-height : 20vh;
    border: 1px solid lightgray;
    transition: 500ms;
    margin : 5px;
    border-radius: 10px;
}

.category-list-container:hover{
  min-height: 21vh;
}

.category-container-title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width : 100%;
    height : 70%;
}

#category-identifier{
  width : 65%;
  text-align: left;
  padding-left : 40px;
  font-size: 1.8rem;
  font-family: 'Century Gothic', sans-serif;
}

#category-to-spend{
  font-weight: normal;
  font-family: 'Century Gothic', sans-serif;
}

.category-buttons{
    width : 40%;
}

.category-container-info{
    width : 100%;
    height : 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.progress-bar-container{
  width : 85%;
  height : 70%;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
}

.progress-bar-container span{
  position : absolute;
  left : 5px;
  top : 4px;
  color : whitesmoke;
  font-family: 'Century Gothic', sans-serif;
}

.category-progress-bar {
  border-radius: 7px; 
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
}

.category-progress-bar::-webkit-progress-bar {
  border-radius: 7px;
}
.category-progress-bar::-webkit-progress-value {
  border-radius: 7px;
}

.meeting-goal::-webkit-progress-bar {
  background-color: lightgreen;
}

.meeting-goal::-webkit-progress-value {
  background-color: #2E8B57;
}

.past-goal::-webkit-progress-bar {
  background-color: lightcoral;
}

.past-goal::-webkit-progress-value {
  background-color: #9A0000;
}

.at-goal::-webkit-progress-bar {
    background-color: lightsalmon;
}
  
.at-goal::-webkit-progress-value {
    background-color: #E47200;
}
